h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input {
  padding: 0;
}

:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --first-title-color: #212121;
  --second-title-color: #ffffff;
  --link-color: #212121;
  --btn-color: #ffffff;
  --second-btn-color: #212121;
  --background-color-card: #ffffff;
  --background-color-footer: #2f303a;
  --background-color-advatage: #f5f4fa;
  --clients-color: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  transition: backgroun-color var(--transition);
}

.main-btn:hover, .main-btn:focus {
  background-color: #188ce8;
  outline: none;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19231;
  color: var(--accent-color);
}

.logo--black {
  color: var(--link-color);
}

.logo--white {
  color: var(--second-title-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin-right: 93px;
}

.nav__list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .nav__list {
    color: var(--link-color);
    display: flex;
    align-items: center;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link,
.header__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color var(--transition);
}

.nav__link:hover, .nav__link:focus,
.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
  outline: none;
}

.contact {
  margin-left: auto;
}

.contact__list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
  }
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.highlighted {
  position: relative;
  color: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 768px) {
  .highlighted::before {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0px;
    bottom: -1px;
  }
}

.menu-open-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
  transition: color var(--transition);
}

.menu-open-btn:hover, .menu-open-btn:focus {
  color: var(--accent-color);
}

.menu-icon {
  fill: currentColor;
}

.mob-menu {
  position: relative;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  transition: color var(--transition);
}

.menu-close-btn:hover, .menu-close-btn:focus {
  color: var(--accent-color);
}

.mob-menu__item:not(:last-child),
.mob-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contact__item:last-child {
  margin-bottom: 64px;
}

.mob-menu-nav__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--link-color);
  transition: color var(--transition);
}

.mob-menu-nav__link:hover, .mob-menu-nav__link:focus {
  color: var(--accent-color);
}

.mob-menu-contact_link {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17647;
  letter-spacing: 0.02em;
  transition: color var(--transition);
}

.mob-menu-contact_link:hover, .mob-menu-contact_link:focus {
  color: var(--accent-color);
}

.mob-menu-mail_link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16667;
  letter-spacing: 0.02em;
  transition: color var(--transition);
}

.mob-menu-mail_link:hover, .mob-menu-mail_link:focus {
  color: var(--accent-color);
}

.mob-menu-social__list {
  display: flex;
}

.mob-menu-social__item:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  width: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.mob-menu-social__link {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22222;
  letter-spacing: 0.02em;
  transition: color var(--transition);
}

.mob-menu-social__link:hover, .mob-menu-social__link:focus {
  color: inherit;
}

.container-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover, auto;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero-mob-1x.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero-2x.jpg);
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36364;
    letter-spacing: 0.06em;
    max-width: 670px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  color: var(--first-title-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding-bottom: 0;
  }
}

.advatage__title {
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advatage__title {
    text-align: left;
  }
}

.advatage__after-title {
  line-height: calc(24 / 14);
}

@media screen and (max-width: 767px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.advantage__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  background-color: var(--background-color-advatage);
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.about__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--background-color-card);
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__post,
.team__name {
  font-size: 16px;
  line-height: 1.1875;
}

.team__post {
  margin-bottom: 16px;
}

.team__name {
  font-weight: 500;
  color: var(--first-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clients-color);
  height: 92px;
  border-radius: 4px;
  color: var(--clients-color);
  transition: color var(--transition), border var(--transition);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-footer);
}

.footer__logo-link {
  display: block;
  margin-bottom: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
  outline: none;
}

.footer-link {
  color: var(--second-title-color);
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__list {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    align-content: space-between;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list {
    flex-wrap: nowrap;
    align-content: flex-start;
    margin-top: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer__item:last-child {
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item:last-child {
    margin: 0;
    margin-left: auto;
  }
}

.footer .social__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  outline: none;
}

.footer__social-icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    align-content: flex-end;
    display: flex;
  }
}

.footer-form__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: border-color var(--transition);
}

@media screen and (max-width: 479px) {
  .footer-form__input {
    width: 320px;
  }
}

.footer-form__input:hover, .footer-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color var(--transition);
  margin: auto;
  margin-top: 20px;
}

.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: #188ce8;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin: 0;
    margin-left: 12px;
  }
}

.footer-form__icon {
  fill: var(--btn-color);
  margin-left: 10px;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: color var(--transition), background-color var(--transition);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: currentColor;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list__item-example {
  display: flex;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-list__link-example {
  transition: box-shadow var(--transition);
}

.portfolio-list__link-example:hover, .portfolio-list__link-example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.portfolio-list__link-example:hover .img-text,
.portfolio-list__link-example:focus .img-text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-filter-list__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: var(--second-btn-color);
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  transition: color var(--transition), background-color var(--transition), box-shadow 250ms var(--transition);
}

.portfolio-filter-list__btn:hover,
.portfolio-filter-list__btn:focus,
.portfolio-highlighted {
  color: var(--btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.portfolio-caption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  margin-bottom: 4px;
}

.portfolio-list__after-title {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-color);
}

.img-div {
  position: relative;
  overflow: hidden;
}

.img-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55556;
  color: var(--second-title-color);
  opacity: 0;
  transition: transform var(--transition), opacity var(--transition);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-color-card);
  border-radius: 4px;
  padding: 40px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  transition: fill var(--transition);
  color: #000000;
  transition: color var(--transition);
}

.modal-btn:hover, .modal-btn:focus {
  color: var(--accent-color);
  outline: none;
}

.modal-icon {
  fill: currentColor;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--first-title-color);
  margin-bottom: 12px;
}

.modal-form__label {
  display: flex;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-item {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition);
}

.modal-item:hover, .modal-item:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-item:hover + .input-icon,
.modal-item:focus + .input-icon {
  fill: var(--accent-color);
  outline: none;
}

.modal-form__input {
  height: 40px;
  padding-left: 40px;
}

.modal-form__text {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.modal-form__text::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-container {
  margin-bottom: 30px;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 11px;
  transition: fill var(--transition);
}

.checkbox-text {
  line-height: calc(24 / 14);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--link-color);
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
  transition: border-color var(--transition);
}

.link-policy {
  color: var(--accent-color);
  margin-left: 2px;
}

.checkbox:checked + .checkbox-text::before {
  border: 2px solid var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--accent-color);
}

.checkbox:hover + .checkbox-text::before,
.checkbox:focus + .checkbox-text::before {
  border: 2px solid var(--accent-color);
  outline: none;
}

.center-btn {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */